@mixin boxfix {
    background-color: darken($color: $dark-shade, $amount: 10%);
    .padding:last-child {
        margin-block-end: 0;
        padding-bottom: 2%;
    }
}
section:nth-of-type(odd) {
    @include boxfix;
}

#bannerbox {
    background-color: black;

    h1 {
        margin-block-start: 0;
        padding-top: 0.67em;
    }
}


section {
    h2 {
        margin-block-start: 0.5em;
        font-family: $font-title;
        font-weight: 800;
    }
}

section:not(:first-of-type) { // Border
    padding-top: 1%;
    //border-top: 1px solid white;
}

#main {
    padding-top: 2%;
    h2:first-of-type {
        margin-top: 0;
    }
    #slogan {
        font-family: $font-title;
        font-size: 1.1em;
        text-align: center;
        text-transform: uppercase;
        font-weight: 800;
    }
    #bildspel {
        img {
            display: none;
        }
    }
}

#kontakt {
    h2 {
        text-align: center;
    }
    form {
        label {
            margin-left: 5%;
        }
        input[type=text], input[type=email], input[type=tel] {
            text-align: center;
            margin-left: 5%;
            margin-right: 5%;
            width: 90%;
        }
        textarea {
            @extend input[type=text];
            text-align: left;
        }
        input[type=submit] {
            width: 20%;
            margin-left: 40%;
            margin-right: 40%;
        }
    }
}

#spelningar {
    .spelning {
        border-radius: 10px;
        padding-left: 2%;
        padding-right: 2%;
        background-color: darken($color: $dark-accent, $amount: 10%);
        h3 {
            @include title($primary: false);
            padding-top: 2%;
            margin-bottom: 0.7em;
            a {
                text-decoration: none;
            }
        }
        p {
            margin-top: 0;
            padding-bottom: 2%;
        }
        .cancelled {
            text-transform: uppercase;
            font-weight: bolder;
            font-size: 1.2em;
            background-color: $dark-shade;
            border-radius: 15px;
            padding: 1% 2%;
        }
    }
}

#video {
    iframe {
        width: 100%;
        height: 40vh;
    }
}

#album {
    img {
        margin: 2%;
        width: max-content;
        height: auto;
        max-width: 200px;
    }

    .flexgrid {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
}

@media only screen and (min-width: 768px) {
    .flexbox {
        display: flex;

        section {
            background-color: darken($color: $dark-shade, $amount: 10%);
            flex: 50%;
        }

    }
    #album {
        background-color: $dark-shade;
    }

    #kontakt {
        form {
            label {
                margin-left: 25%;
            }
            input[type=text], input[type=email], input[type=tel], textarea {
                width: 50%;
                margin-left: 25%;
            }
        }
    }
}

@media only screen and (min-width: 992px) {
    .wrapper {
        background-color: darken($color: $dark-shade, $amount: 10%);
    }
    .flexbox {
        @include margincenter;
        max-width: 1200px;
    }
}