/*
x Att du använd partials för att få en bra filstruktur.
x Variabler.
x Nesting.
x Mixins.
Selector inheritance (nyckelordet "@extend").
If/else-satser.
x Color functions (darken, lighten minimun, men använda gärna även fler)
*/

@font-face {
    font-family: "Gill Sans Nova Ultra Bold";
    src: url("../assets/GillSansUltraBoNova.ttf") format('truetype');
}
/*
@font-face {
    font-family: "Gill Sans Nova";
    src: url("../assets/GillSansNova.ttf") format('truetype');
}*/

@import "colors";
@import "text";
@import "generals";
@import 'sections';

// https://css-tricks.com/snippets/sass/sass-things-links/
$a-tags: "a, a:active, a:hover, a:visited";
$a-tags-hover: "a:active, a:hover";

body {
    width: 100%;
    margin: 0;
    font: 100% $font-stack;
    color: $light-color;
    background-color: $dark-shade;

    img {
        width: 100%;
        height: auto;
        display: block;
    }

    #container {
        width: 100%;
        @include margincenter;
    }
    
    h1 { // Title
        @include title;
        text-transform: uppercase;
        text-align: center;
        font-size: 1.7em;
    }

    p {
        font-size: 1.05em;
    }

    #{$a-tags} {
        color: $light-color;
    }
    #{$a-tags-hover} {
        color: $light-color;
    }

    #menu ul, #footermenu ul {
        display: flex;
        justify-content: space-evenly;
        list-style: none;
        margin: 2% 0%;
        padding: 0;

        li a {
            text-decoration: none;
            text-transform: uppercase;
            font-style: $font-title;
            font-weight: 700;
            font-size: 1.7em;

            background-color: $dark-shade;
            border-radius: 10px;
            padding: 2% 5%;
        }

    }

    #footermenu {
        justify-content: center;
        margin-top: 2%;
        background-color: darken($color: $dark-shade, $amount: 10%);
        padding-top: 1%;
        padding-bottom: 1%;

        ul {
            justify-content: space-around;
            li a {
                text-transform: none;
                background-color: initial;
            }
        }
    }
}
@media only screen and (max-width: 768px) {
    #menu ul {
        display: block!important;
        text-align: center;
        li a {
            display: block;
            margin-top: 2%;
            margin-bottom: 2%;
            width: fit-content;
            @include margincenter;
        }
    }
}

@media only screen and (min-width: 768px) {
    #bannerbox {
        text-align: center;
        position: relative;

        .overlay {
            position: relative;
            background-color: transparentize($color: $dark-shade, $amount: 0.5);
        }
        
        h1 {
            text-align: center;
            font-size: 2.5em;
        }
    }

    .padding {
        width: 90%;
        @include margincenter;
    }
}

@media only screen and (min-width: 992px) {
    .padding {
        max-width: 992px;
    }
}